This is a airtime controller

<b>Welcome, to vtu-shop </b>
<p>Networks: (oops! my first failed attempt on home.twig.html for review) </p>



{% for network in networks %}

<li> {{ network }} </li>

{% endfor %} 

</ul>